<div class="container-fluid">
    <div class="row align-items-center justify-content-between g-5">
      <div class="col-lg-6">
        <div class="image-holder mb-4 jarallax">
          <img src="../../../assets/images/single-image1.jpg" alt="single" class="img-fluid jarallax-img">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="detail p-5">
          <div class="display-header">
            <h2 class="display-2 text-uppercase text-dark pb-2">About Us</h2>
            <p class="pb-3">Tanatswa is certified and lisensed life coach with a degree in Psychology attained from the University of South Florida</p>
            
            <a href="about-us.html" class="btn btn-medium btn-arrow outline-dark position-relative mt-3">
              <span class="text-uppercase">About us</span>
              <svg class="arrow-right position-absolute" width="18" height="20">
                <use xlink:href="#arrow-right"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>